body, html {
	height: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.home-background-container {
	padding: 50px;
	background-image: url("/images/bg.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.white {
	color: white;
}