body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input,textarea, button{
  width: 400px;
  min-height: 30px;
}
button{
  line-height: 26px;
}