<h2>Login</h2>

<form action="/login" method="post">
    <label>Username <br> <input type="text" name="username"></label>
    <br><br>
    <label>Password <br> <input type="password" name="password"></label>
    <br><br>

    <% if (typeof(message) !== 'undefined') { %>
        <div>
            <%= message %>
        </div>
    <% } %>
     <button type="submit" value="">Log in</button>
</form>