
<h2> Edit a Trip </h2>


<form method="post" action="/my-trips/edit/<%= tripInfo._id %>" enctype="multipart/form-data">
  <label for="destination-input"> Destination </label>
  <input  id="destination-input" name="destinationValue" type="text"
  <br>

  <p> Current photo: </p>
  <img src="<%= tripInfo.pic_path %>">
  <br>

  <label for="photo-input"> Replace the Photo </label>
  <input  id="photo-input" name="tripPhoto" type="file">
  <br>

  <label   for="desc-input"> Description </label>
  <textarea id="desc-input" name="tripDesc"></textarea>
  <br>

  <button> Save this trip </button>
</form>
