<div class="home-background-container">
	<div class="text-center">
		<h1 class="white">Ironhack Trips</h1>
		<h4 class="white">Create a diary about your trips and share it with your friends to let them know your adventures</h4>
		<a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
	</div>
</div>
