<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Create a diary about your trips and share it with your friends to let them know your adventures</p>

    <button><a href="/auth/facebook">Login with Facebook</a></button>
  </body>
</html>
