<h1>Trip Diary</h1>
<p>Create a diary about your trips and share it with your friends to let them know your adventures</p>
<a href="/auth/facebook"><button type='button'>Login with Facebook</button></a>
