<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="home">
    <div class="container text-center">
      <h1>Trip diary</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ab unde dolorem sapiente reiciendis quidem, a eligendi velit.
      </p>
      <form action="" method="post">
        <a href="/trips" class="btn btn-primary">Login with Facebook</a>
      </form>
    </div>
  </div>
</body>

</html>
