<div class="col-sm-8 col-sm-offset-2">
  <div class="jumbotron text-center">
    <h1>Ironhack Trips</h1>
      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Login Facebook</a>
  </div>
</div>
