<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="home-wrap">
    <h1>Trip diary</h1>
    <p>Create a diary about your trips and share it with your friends to let them know your adventures</p>
    <a href="/auth/facebook" class="btn-facebook">Login with Facebook</a>
  </div>
  </body>
</html>
