<!DOCTYPE html>
<html>
  <head>
    <title>Ironhack Trips</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ironhack Trips</h1>
    <p>Welcome to Ironhack Trips</p>
    <a href="/auth/google">Login with Google</a>
    <a href="/logout">Logout</a>
  </body>
</html>
