<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="container">
			<section class="text-container">
				<h1><%= title %></h1>
				<p>Create a diary about your trips and share it with your friends to let them know your adventures</p>
				<a href="/auth/facebook" id="loginBtn">Login With Facebook</a>
			</section>
	</div>
	</body>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '1128655360598319',
				xfbml      : true,
				version    : 'v2.10'
			});
			FB.AppEvents.logPageView();
		};

		(function(d, s, id){
			 var js, fjs = d.getElementsByTagName(s)[0];
			 if (d.getElementById(id)) {return;}
			 js = d.createElement(s); js.id = id;
			 js.src = "//connect.facebook.net/en_US/sdk.js";
			 fjs.parentNode.insertBefore(js, fjs);
		 }(document, 'script', 'facebook-jssdk'));
</script>
</html>
