<div class="grid-x align-middle" style="height:100vh">
  <div class="cell text-center">
    <h1>Trip diary</h1>
    <p class="lead">Create a diary about your trips ans share it with your friends to let them know your adventures</p>
    <p><a href="/auth/facebook" class="button large facebook">Login with facebook</a></p>
  </div>
</div>
