<!DOCTYPE html>
<html>
  <head>
    <title>Travel with me!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lets travel and tell your friends!</h1>
    <br><br>
    <a href="/auth/facebook"><button>Login with Facebook</button></a>
  </body>
</html>
