<!DOCTYPE html>
<html>
  <head>
    <title>Trip Diary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Trip Diary</h1>
    <h2>Document your travels and share them with your friends</h2>
    <a href="/auth/facebook">Login With Facebook</a>
  </body>
</html>
