<!DOCTYPE html>
<html>
<head>
  <title>Travel with me!</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="bodyBackground">
  <div>
    <div class="nav">
      <div>
        <h1 class="navh1">Lets travel and tell your friends!</h1>
      </div>
    </div>
    <div class="boxer">
      <div class="lookOther">
        <a href="/auth/facebook">Look travels from other people</a>
      </div>
      <div class="loginWithFacebook">
        <a href="/auth/facebook">Login with your account of Facebook</a>
      </div>
    </div>
  </div>
</body>
</html>
