<h1 class="title">Trip Diary</h1>

<p>Create a diary about your trips and share it with your friends to let them know your adventures</p>

<a href="/auth/facebook"><button id="facebookButton">Login With Facebook</button></a>

<a href="/ourtrips"><button class="button">Or see our trips without logging in</button></a>