<!DOCTYPE html>
<html>
  <head>
    <title>Trip Diary</title>
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <%- body -%>
  </body>
</html>
