<h1>Welcome to your trips</h1>

<h2>Your past trips</h2>

<section>




    </div>
</section>

<br>

<h2>Add a new trip</h2>

<form action="/my-trips" id="new-trip-form" class="trip-form" method="post" enctype="multipart/form-data">

        <div class="field">
          <label for="tripDestination"> Destination </label>
          <input type="text" name="tripDestination" id="addDestination">
        </div>
    <br>
        <div class="field">
          <label for="tripReview">Review: </label>
          <input type="text" name="tripReview" id="addReview">
        </div>
    <br>
        <div class="field">
          <label>Upload a photo from your trip</label>
          <input type="file" name="photo">
        </div>
    <br>
        <input type="submit" value="Add your trip">
</form>

<br>

<h2>Edit a trip</h2>

<br>

<h2>Delete a trip</h2>
