<h1>New Trips</h1>
<form action="/mytrips/new" method="post" encrypt="multipart/form-data">
	<input type="text" name="destination" id="destination" placeholder="Destination">
	<br>
	<input type="text" name="description" id="description" placeholder="Description">
	<br>
	<input type="file" name="image">
	<br>
	<button type="submit">Submit</button>
</form>