<form style="display:flex;flex-direction:column;align-items:flex-start;" method="post" action="/my-trips/new">
    <label>Destination
        <input type="text" name="destination">
    </label>
    <label>Description
        <textarea name="description" cols="30" rows="10"></textarea>
    </label>
    <label>Image
        <input type="file" name="pic_path">
    </label>
    <input type="submit">
</form>