<h1><%=user.displayName%>'s Profile</h1>

<h2>Trips</h2>
<%trips.forEach( (trip) => {%>
  <div class='tripWidget'>
    <h4>
      <%= trip.destination %>
    </h4>
    <p>
      <%= trip.description %>
    </p>
  </div>
  <%})%>