<h2> Add Trip </h2>

<form method="post" action="/my-trips/new" enctype="multipart/form-data">
  <label for="dest-input"> Destination </label>
  <input id="dest-input" name="tripDest" type="text"/>
  <br />
  <label for="desc-input"> Description</label>
  <textarea id="desc-input" name="tripDesc"></textarea>
  <br />
  <label for="photo-input"> Upload Photo</label>
  <input id="photo-input" name="tripPhoto" type="file" />
  <br />



  <button> Save Trip </button>
</form>
