<!DOCTYPE html>
<html>
  <head>
    <title>IronTrip</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Irontrip</h1>
    <p>Welcome to IronTrip</p>

    <form action="/" method="post">
    <input type="submit" value="LOG OUT">
    
    </form>
  
    <%- body %>

  </body>
</html>
