<!DOCTYPE html>
<html>
  <head>
    <title>Travel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Main</h1>
    <button type="button" name="button" href="/login">Login</button>

<%- body -%>
  </body>
</html>
