<h2>Are you sure you want to delete this trip - <%= trip.destination %>?</h2>
<form action="/my-trips/delete/<%= _id %>" method="post">
    <button type="submit">Yes</button>
</form>
<a href="/my-trips">No</a>
