<h1>Edit your Trip!</h1>

<form action="/trips/edit/<%=trip._id%>" method="post" enctype="multipart/form-data">
  <label for="destination">Destination</label>
  <input type="text" name="destination" value="<%=trip.destination%>">
  <br><br>
  <label for="description">Description</label>
  <input type="text" name="description" value="<%=trip.description%>">
  <br><br>
  <input type="file" name="photo">
  <br><br>
  <button>Submit!</button>
</form>
<br><br>
<a href="/trips">Go Back!</a>
