<h1>Add a new Trip!</h1>

<form action="/trips/new" method="post" enctype="multipart/form-data">
  <label for="destination">Destination</label>
  <input type="text" name="destination">
  <br><br>
  <label for="description">Description</label>
  <input type="text" name="description">
  <br><br>
  <input type="file" name="photo">
  <br><br>
  <button>Submit!</button>
</form>
