<h2> Add a New Trip </h2>

<form action="/my-trips/new" method="post" enctype="multipart/form-data">

  <label for="destination"> Destination </label>
  <input  id="destination" type="text" name="destination">
  <br>

  <label    for="description"> Description </label>
  <textarea  id="description" type="text" name="description"></textarea>
  <br>

  <label for="photos"> Trip Photos </label>
  <input  id="photos" name="photo" type="file">
  <br>

  <button> Create Trip </button>


</form>
