<h1>Add Trip </h1>

<form action="/add" method="post" enctype="multipart/form-data">
  <label for="destination">Destination</label>
  <input type="text" name="destination" value="">

  <label for="description">Description</label>
  <input type="text" name="description" value="">

  <label for="image"></label>
  <input type="file" name="photo" value="">

  <button name="submit">Enviar</button>
</form>
