<h1>Create a new Trip!</h1>

<form action="/my-trips/new" method="post" enctype="multipart/form-data">
  <label for="destination">Destination</label>
  <input type="text" name="destination">
  <br>
  <label for="description">Description</label>
  <input type="text" name="description">
  <br>
  <input type="file" name="photo">
  <button>Submit</button>
</form>
