<h2>Create a trip</h2>

<form action="/new" method="post" enctype="multipart/form-data">
    <label>Trip destination <br> <input type="text" name="destination"></label>
    <br><br>

    <label>Upload photo <br> <input type="file" name="imgPath"></label>
    <br><br>

    <label>Description <br> <textarea name="description"></textarea></label>
    <br><br>

    <button>Save this trip</button>
</form>