<form action="" method="POST">
  Destination: <input type="text" name="destination">
  Description: <input type="text" name="description">
  Photo: <input type="file" name="photo">
  <input type="submit">
</form>
