<h2>Create your new</h2>

<form>
	<input type="text" name="userID">
	<input type="text" name="userName">
	<input type="text" name="destination">
	<input type="text" name="description">
	<input type="" name="">
</form>