
    <form action="/trip/new" method="POST">
      <label for="user_name">Username</label>
      <input type="text" id="name" name="user_name">

      <label for="destination">Destination</label>
      <input type="text" name="destination" id="destination">

      <label for="description">Description</label>
      <input type="text" name="description" id="description">

      <button type="submit">Add place</button>
    </form>
