<h1> <%= viaje.destination %> </h1>
<p>Description: <%= viaje.description %></p>
<img src="<%= viaje.pic_path %>"/>
<a href="/upload/<%= viaje._id %>/image">Upload Photo</a>
<a href="/profile">Back to profile</a>
