<div class="card">
  <div class="card-divider">
    <h3><%= trip.destination %></h3>
  </div>
  <img src="<%= trip.pic_path %>" alt="<%= trip.destination %>">
  <div class="card-section">
    <%= trip.description %>
  </div>
</div>
