<form action="/my-trips/new" method="post" enctype="multipart/form-data">
  <label for="destination">destination</label>
  <input type="text" name="destination" id="destination">
  <label for="description">description</label>
  <textarea type="text" name="description" id="description"></textarea>
  <input type="file" name="photo">
  <button>Add new destination</button>
</form>
<a href="/my-trips"><button>Go back</button></a>
